RESTCONF path format issue  

According to RESTCONF Protocol draft-ietf-netconf-restconf-18, RESTCONF path should include module-name. But there isn't module-name within the current TAPI swagger API.

draft-ietf-netconf-restconf-18 reference section was copyed here:
 3.5.3.1. ABNF For Data Resource Identifiers

The "api-path" Augmented Backus-Naur Form (ABNF) syntax is used to
 construct RESTCONF path identifiers. Note that this syntax is used
 for all resources, and the API path starts with the RESTCONF root
 resource. Data resources are required to be identified under the
 subtree "+{restconf}/data".

An identifier is not allowed to start with the case-insensitive
 string "XML", according to YANG identifier rules. The syntax for
 "api-identifier" and "key-value" MUST conform to the JSON identifier
 encoding rules in Section 4 of [RFC7951]: The RESTCONF root resource
 path is required. Additional sub-resource identifiers are optional.
 The characters in a key value string are constrained, and some
 characters need to be percent-encoded, as described in Section 3.5.3.

api-path = root *("/" (api-identifier / list-instance))

root = string ;; replacement string for {+restconf}

api-identifier = [module-name ":"] identifier

module-name = identifier

list-instance = api-identifier "=" key-value *("," key-value)

key-value = string ;; constrained chars are percent-encoded

string = 

identifier = (ALPHA / "")
 *(ALPHA / DIGIT / "" / "-" / ".")


This has been fixed with the newer versions of Eagle Uml2Yang tooling (in the baseline since Mar 2017 timeframe)